// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account {
	font-family: "freight-sans-pro",sans-serif;
  font-weight: normal;
  font-size: 20px;
  resize: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	border: none;
  outline: none;
}

.vision {
	text-align: center;
}

.metrics {
	text-align: center;
}

.stats {
	font-family: "ff-meta-serif-web-pro",serif;

	display: inline-block;

}

#product_name {
  font-family: "freight-sans-pro",sans-serif;
  font-size: 52px;
  font-weight: bold;
  letter-spacing: -2px;
  height: 52px;
  line-height: 52px;
  margin-bottom: 10px;
  color: rgb(51, 51, 50); 
  border: none;
  resize: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  outline: none;
}